/* NUEVO FOOTER */

.footer{
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  padding-top: 15px;
  position: static;
  bottom: 0;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContain{
  width: 1000px;
  display: flex;
  margin-bottom: 30px;
}

.footerContainDiv{
  margin: 0 20px;
  width: 200px;
}

.icon {
  color: white;
  width: 28px;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  font-size: 24px;
  cursor: pointer;
}